{% extends 'Orders/main_dashboard.html' %}
{% block content %}
<h2 class="text-white text-lg font-semibold">Orders</h2>
<table class="min-w-full divide-y divide-gray-700">
    <thead>
        <tr>
            <th class="px-6 py-3 text-left text-xs font-medium text-gray-400 uppercase tracking-wider">Order ID</th>
            <th class="px-6 py-3 text-left text-xs font-medium text-gray-400 uppercase tracking-wider">Customer</th>
            <th class="px-6 py-3 text-left text-xs font-medium text-gray-400 uppercase tracking-wider">Total</th>
            <th class="px-6 py-3 text-left text-xs font-medium text-gray-400 uppercase tracking-wider">Status</th>
        </tr>
    </thead>
    <tbody class="divide-y divide-gray-700">
        {% for page_obj in page_obj %}
        <tr>
            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-400">{{ page_obj.order_id }}</td>
            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-400">{{ page_obj.supermarket }}</td>
           <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-400">{{ page_obj.created_by }}</td>
            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-400">{{ page_obj.order_date }}</td>
            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-400">{{ page_obj.status }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>


<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">First</a>
            <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %}
    </span>
</div>

{% endblock %}