{% extends 'Orders/main_dashboard.html' %}
{% block content %}
<h2 class="text-white text-lg font-semibold">Orders</h2>
<table class="min-w-full divide-y divide-gray-700">
    <thead>
        <tr>
            <th class="px-6 py-3 text-left text-xs font-medium text-gray-400 uppercase tracking-wider">Order ID</th>
            <th class="px-6 py-3 text-left text-xs font-medium text-gray-400 uppercase tracking-wider">Customer</th>
            <th class="px-6 py-3 text-left text-xs font-medium text-gray-400 uppercase tracking-wider">Total</th>
            <th class="px-6 py-3 text-left text-xs font-medium text-gray-400 uppercase tracking-wider">Status</th>
        </tr>
    </thead>
    <tbody class="divide-y divide-gray-700">
        {% for order in orders %}
        <tr>
            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-400">{{ order.id }}</td>
            <!-- <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-400">{{ order. }}</td>
            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-400">{{ order.total_amount }}</td> -->
            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-400">{{ order.status }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}